
body {
  margin: 0;
  font-family: VerdanaBold;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgb(212, 186, 171), rgb(70, 64, 50) 50%);
  border-radius: 10px;
}
@font-face {
  font-family: 'VerdanaRegular';
  src: url('/src/fonts/Verdana-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VerdanaBold';
  src: url('/src/fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('/src/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


